{% extends '::base.html.twig' %}

{% block body -%}
	{{form_start(form)}}
	<div class="container">    {# Revisar--------------------------------#}
    	<div class="panel panel-info">  
        	<div class="panel-heading">Promedio general de prueba de conocimiento por institución formadora</div>
        	<div class="panel-body text-center" >            	 
                	<div class="divParam">
                    	<p>Parámetros necesarios para generar el reporte</p>
                    	<table class="tablaCent">
                        	<tr class="text-center" height="25%">
                            	<td width="25%">
                                	<select>
                                    	<option selected>Seleccione un período</option>
                                    	<option value="1">Período 1</option>
                                    	<option value="2">Período 2</option>
                                	</select>
                            	</td>
                            	<td width="25%">
                                	{{form_widget(form.selectcarr)}}
                            	</td>
                        	                        	 
                             	<td width="25%">    
                                	{{form_widget(form.selectuniv)}}                                    	 
                             	</td>                      	 
                           	 
                            	<td width="28%">
                                	{{form_widget(form.Generar)}}                              	 
                              	 
                            	</td>
                        	</tr>                   	
                        </table>            
                	</div>
            	<br />
            	<br />       	 
        	</div>
             	 
                                        
    	</div>
                                        </div>
                                        {# tabla de reportes ..........................#}
                        <div class="container">
                        
                            <div class="panel panel-info">  
                            <div class="panel-heading">Promedio general de prueba de conocimiento por institución formadora</div>
                                
                                <table class="centerTable">
                                    
                                    <tr >
                                      
                                      <td ><p>Carrera</p>
                                          <p> {{ varId }}<p>
                                      </td>  
                                      <td><p>Universidad</p>
                                          <p>{{ univId }}</p>
                                          </td>
                                          <td><p>Nota Promedio</p>
                                          <p> 
                                              
                                              {% for carr in c_Id %}

                                              {{ carr.promedio|round(2, 'floor') }}
                            
                                                {% endfor %}
                                                  
                                          </p>
                                          </td>
                                          {#<td><p>c_i</p>
                                          <p> 
                                              
                                              {{ c_i }}
                                                
                                                  
                                          </p>
                                          </td>#}
                                          
                                    </tr>
                                     
                                </table>
                                   
                        </div>

                            </div>
                        
                        
                        <div class="container">
    	<div class="panel panel-info">  
        	<div class="panel-heading"><a href="{{url('minsal_si_gminsal_sig_promPrueba')}}"> Restablecer</a> </div>
        	<div class="panel-body text-center" >            	      	 
        	</div>
             	 
    	</div>
	</div>	 
                                        
{#	</div>#}
       {{form_end(form)}}
                      
                                        
                                        
	
{% endblock %}