{% extends '::base.html.twig' %}
{% block body %}
<div id="target">
</div>
<div class="container top">
	<div class="jumbotron">
		<h3 class="text-center text-primary"> Usuarios </h3>
		<br />
            	{% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
		<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed">
				<tbody>
					
					<tr class="success">
						<td class="table-header"> Cargo  </td>
                                                <td class="table-header"> Nombres </td>
						<td class="table-header"> Apellidos </td>
                                                <td class="table-header"> Email </td>
                                                <td class="table-header"> Acciones </d>
					</tr>
					{% for Empleado in empleados %}
						<tr>
                                                    	<td> {{ Empleado.idCargo.nombreCargo }} </td>
                                                        <td> {{ Empleado.PrimerNombre }} </td>
                                                        <td> {{ Empleado.PrimerApellido }} </td>
							<td> {{ Empleado.emailInstitucional }} </td>
							<td> 
                                                            
                                                            <a href="{{ url('minsal_si_gminsal_sig_ModificarEmpleado', {'idEmpleado': Empleado.idEmpleado}) }}"> <img border='0' src="{{asset('images/update.png')}}" /> </a>
                                                            <a href="{{ url('minsal_si_gminsal_sig_EliminarEmpleado', {'idEmpleado': Empleado.idEmpleado}) }}" onclick="return confirm('¿Seguro que desea continuar con la eliminación?')"> <img border='0' src="{{asset('images/delete.png')}}" /> </a>
							    
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="container top">
	{{ form_start(form) }}
	{{ form_errors(form) }}
        <a href="{{ path('minsal_si_gminsal_sig_InsertarEmpleado') }}">{{ form_widget(form.NuevoEmpleado) }}</a>
	{{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}