{% extends '::base.html.twig' %}
{% block body %}
<div class="container top">
	<div class="jumbotron">
		{% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}} ) }}
		{{ form_errors(form, { 'global_errors': true }) }}
                
                 <div class="form-group">
			<label for="empleado" class="col-lg-3 control-label">Empleado</label>
			<div class="col-lg-4">
				{{ form_widget(form.empleado) }}
			</div>
		</div> 
               
                <div class="form-group">
			<label for="rol" class="col-lg-3 control-label">Rol del Usuario</label>
			<div class="col-lg-4">
				{{ form_widget(form.rol) }}
			</div>
		</div>        
                
		<div class="form-group">
			<label for="username" class="col-lg-3 control-label">Nombre de Usuario</label>
			<div class="col-lg-4">
				{{ form_widget(form.username) }}
			</div>
		</div>
                <div class="form-group">
			<label for="password" class="col-lg-3 control-label">Claves:         </label>
			<div class="col-lg-4">
				{{ form_widget(form.password) }}
			</div>
                </div>
                    <div id="pass-info">
		</div>
		<br />
		<div class="col-lg-offset-1 col-lg-2">
			{{ form_widget(form.Guardar) }}
		</div>
                
		<div class="col-lg-2">
			{{ form_widget(form.Limpiar) }}
		</div>
		
		{{ form_rest(form) }}
		{{ form_end(form) }}
                
	</div>
</div>
<div class="container top">
	<a href="{{ path('minsal_si_gminsal_sig_consultarUsuario') }}">
		<button type="button" id="Regresar" name="Regresar" class="btn btn-lm btn-default">Regresar a Consultar Usuarios</button>
	</a>
</div>
{% endblock %}



