{% extends '::base.html.twig' %}

{% block body -%}    
        <div class="panel panel-info">             
            <div class="panel-body text-center" >    
                <img src="{{asset('images/Encabezado_reportes.png')}}">
               
                <p>Cuadro estadístico de los resultados de la prueba de conocimiento de la carrera de{%for car in carreraNombre%} {{car.nombre}} {%endfor%}</p>
                <br />
                <br />
                <table class="table table-striped table-hover table-condensed" border="1">
                    <thead class="table-param">
                    <tr align="center">
                      <th class="table-header" align="center" >Universidad</th>
                      <th class="table-header" align="center">N° de Estudiantes reportados por universidades</th>
                      <th class="table-header" align="center" >Estudiantes examinados</th>
                      <th class="table-header" align="center">Aprobados</th>
                      <th class="table-header" align="center" >Reprobados</th>
                      <th class="table-header" align="center">Nota Mínima</th>
                      <th class="table-header" align="center">Nota Maxima</th>
                    </tr>                    
                    </thead>
                    <tbody class="table-param">
                        {%for univs in universidad%}
                            <tr>
                                <th>{{univs.nombre}}</th>
                                {%for res in resultado if (res.id_institucion_formadora == univs.id)%}                                  
                                    <th> {{res.numest}} </th>
                                    <th> {{res.estex}} </th>
                                    <th> {{res.aprobados}} </th>
                                    <th> {{res.reprobados}} </th>
                                    <th> {{res.minimo}} </th>
                                    <th> {{res.maximo}} </th>
                                    
                                {% endfor %} 
                            </tr>                           
                        {% endfor%}
                    </tbody>           
                </table> 
                    <a href="{{url('minsal_si_gminsal_sig_pruebaCon')}}"> Regresar </a>          
                <br />
                <br />            
            </div>
                  
        </div>
    
{% endblock %} 